body {
    background-color: rgb(54, 44, 45);
    color: beige;
    margin: 0%;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    max-width: 1400px;
    margin: 0 auto;
}

.nav {
    background-color: transparent; 
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 10px 50px;
    height: 60px;
    border-bottom: 2px solid beige;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.page-name {
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana;
}

.home-button {
    color: beige;
    background-color: transparent;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.login-button {
    color: beige;
    background-color: transparent;
    border: 2px solid beige;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.register-button {
    background-color: rgb(222, 158, 71);
    border: 2px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

nav button{
    font-size: 16px;
}

button:hover {
    background-color: rgb(122, 66, 29);
}

a:hover {
    background-color: rgb(122, 66, 29);
}

a {
    border-radius: 5px;
}

.container {
    background-color: rgb(66, 56, 57);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;    
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    max-width: 800px;
}

.full_post {
    display: flex;
    flex-direction: row;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.posts-container {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.author {
    color: rgb(222, 158, 71);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
}

.date {
    color: #ffffff;
    opacity: 0.7;
}

.title {
    color: beige;
    text-decoration: none;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px;
}

.content {
    color: beige;
    margin: 0;
    inline-size: 100%;
    word-break: break-word;
    overflow-wrap: break-word;
}

.author-and-date {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
}

.post-line {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    margin: 15px 0 0 0;
    width: 100%;
}

.sidebar-container {
    background-color: rgb(66, 56, 57);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    border-radius: 8px;
    width: 500px;
    height: 350px;
    margin-right: 5%;
    margin-top: 20px;
    flex: 2;
}

.sidebar-container p {
    font-size: 16px;
    padding-left: 5%;
    color: rgb(222, 158, 71);
}

h3 {
    padding-left: 5%;
    font-size: 25px;
}

.list-group {
    margin-top: 20px;
    list-style: none;
}

li {
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 80%;
    padding: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#list-first {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#list-last {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.post-buttons {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
}

.post-buttons button {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
}

#edit-button {
    color: beige;
    border-color: beige;
}

#edit-button:hover {
    color: rgb(222, 158, 71);
    border-color: rgb(222, 158, 71);
}

#delete-button {
    color: beige;
    border-color: beige;
}

#delete-button:hover{
    color: red;
    border-color: red;
}

.profile_pic {
    width: 55px;
    height: 55px;
    border-radius: 30px;
    margin-right: 3%;
}