{% extends "layout.html" %}
{% block content %}
    {% for info in posts %}
        <div class="container">
            <div class="full_post">
                <img class="profile_pic" src="{{ info.author.image_path }}" alt="A profile picture of {{ info.author.username }}">
                <div class="post-content">
                <div class="author-and-date">
                    <a class="author" href = "{{url_for('user_posts_page', user_id=info.author.id)}}">{{ info.author.username }}</a>
                    <small class="date_posted">{{ info.date_posted.strftime('%B %d, %Y') }}</small>
                </div>
                <hr class="post-line">
                <h2>
                <a class="title" href = "{{url_for('post_page', post_id=info.id)}}">{{ info.title }}</a>
                </h2>
                <p class="content">{{ info.content }}</p>
                </div>
            </div>    
        </div>
    {% endfor %}
{% endblock content %}