{% extends "layout.html" %}

{% block content %}

        {% for info in posts %}
        <div class="container">
            <div class="author-and-date">
                <a class="author" href="#">{{ info.author }}</a>
                <small class="date_posted">{{ info.date_posted }}</small>
            </div>
            <hr class="post-line">
            <h2>
            <a class="title" href="#">{{ info.title }}</a>
            </h2>
            <p class="content">{{ info.content }}</p>
        </div>
        {% endfor %}
{% endblock content %}