<!DOCTYPE html>
<html>
    <head>
        <title>Layout</title>
        <link rel="stylesheet" href = "{{url_for('static', path='style.css')}}">
    </head>
    <body>
        <header class="site-header">
            <nav class="nav">
                <div class="nav-left">
                    <p class="page-name">Blog Page</p>
                    <button class="home-button">Home</button>
                </div>
                <div class="nav-right">
                    <button class="login-button">Login</button>
                    <button class="register-button">Register</button>
                    <p>Theme(to do)</p>
                </div>
            </nav>
        </header>
        <main>
            <div class="posts-container">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="sidebar-container">
                <h3>Our Sidebar</h3>
                <p>We love our cool sidebar. You should love it too!!</p>
                <ul class="list-group">
                    <li id="list-first">Latest Posts</li>
                    <li>Announcements</li>
                    <li>Calendars</li>
                    <li id="list-last">etc</li>
                </ul>
            </div>
        </main>
    </body>

</html>